p {
	clear: both;
}

.title {
	font-size: 16px;
	display: inline-block;
	position: relative;
	clear: both;
	top: 0;
}
.container {
	width: 100%;
}
.float {
	display: inline-block;

}

.col {
	height: 40px;
	width: 40px;	
	display: inline-block;
	border: 1px dashed #9bc2cf;
	background-image: url("water.jpg");
}

#playGrids {
	width: 100%;
	color: #000000;
	padding: 0;
	margin: 0;
	display: inline-block;

}

#playGrids .panel {
	width: 424px;
	display: inline-block;
}

#playGrids .panel-heading {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#playerTable, #enemyTable {
	height: 400px;
	width: 400px;	
	margin: 10px;
	cursor: crosshair;
	clear: both;
}

#enemyTable {
	clear: both;
}

#dryDock {
	width: 40px;
	height: 40px;
}

.placeGrid {
	z-index: -1;
}

.playGrid .col {
	z-index: 2;
	position: relative;
	opacity: 0.4;
	color: #8aacb8;
}

.hit {
	background-color: red;
	opacity: 1;
	background-image: url("");
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);	
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);	
}

.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}