<div id="instructionsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body">
                <ol>
                    <li>Drag ships to the player grid
                    <li>Doubleclick to rotate a ship
                    <li>Click on "Start" when done
                    <li>Ships can't be moved once the game has started
                    <li>Click on enemy grid to fire 
                    <li>Enemy response will reflect on your grid immediately
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->