<div id="instructionsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body">
            <h5><span class="label label-info">To Play:</span></h5>
                <ol>
                    <li>Drag ships to the player grid</li>
                    <li>Doubleclick to rotate a ship</li>
                    <li>Click on "Start" when done</li>
                    <li>Click on enemy grid to fire</li>
                    <li>Click on Auto Play to have the computer play against the Platform45 server</li>
                </ol>

                <h5><span class="label label-info">Additional Info:</span></h5>
                <ul>
                    <li>Ships can't be moved once the game has started</li>
                    <li>Enemy response will reflect on your grid immediately</li>
                    <li>All activity is logged to the console (Press F12 to view)</li>
                    <li>Click on Logout to create a new session and play again</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->